[2019-05-27 15:43] vsoch opened #1 "Write specification for version 1.0 of compose file"

[2019-06-17 15:57] vsoch opened #2 "build + context or external URI"
I'm starting with requiring a build and a context:

[code]
and it should also be possible to provide an image unique resource identifier (to just be pulled)

[code]

[2019-06-18 16:50] vsoch opened #3 "Listing logs"
Logs are in the user's home:

[code]
Specifically at `$HOME/.singularity/instances/<hostname>/<user>/<name>.(log|err)`

[2019-06-19 13:30] vsoch opened #4 "Logs should have a clear command"
unlike Docker, I'd like to be able to delete existing logs easily.

[2019-06-20 14:17] vsoch opened #5 "Add pylint"

[2019-06-20 15:07] vsoch opened #6 "Add CircleCI and Testing"
This will be the requirement for a first (early, alpha) release.

[2019-06-21 13:30] vsoch opened #8 "Small issue with yaml version"
Weirdly, the packages "PyYAML" and "pyaml" install both to yaml, but the latter has extra features for security, etc. Since the user might have either installed (and it won't work if the FullLoader attribute isn't present) we need to do a check:

[code]
I missed this because I had both installed.

[2019-06-21 13:34] #1 closed

[2019-06-21 13:34] #2 closed

[2019-06-21 13:34] #3 closed

[2019-06-21 13:34] #4 closed

[2019-06-21 13:34] #5 closed

[2019-06-21 13:34] #6 closed

[2019-06-21 14:24] #8 closed

[2019-06-21 16:58] vsoch opened #10 "For non sudo, need to set --network=none"
Testing on an HPC cluster with mongodb, we need to follow the instruction:

[code]

[2019-06-21 17:00] vsoch opened #11 "Exec, catch error"
In the case of an exec error, it's rather ugly:

[code]
We need to catch this.

[2019-06-21 17:07] vsoch commented on #11
Here is what the fixed version will look like - the user can still see the message (from Singularity) about the problem:

[code]

[2019-06-21 17:20] #10 closed

[2019-06-21 17:53] vsoch opened #13 "Add --fakeroot option when 3.3.0 is released"
We can potentially do builds with --fakeroot given singularity 3.3.0. We should add this as a check (and then use it) when it's released. It requires a recent kernel (user namespace) so it's not guaranteed.

https://github.com/sylabs/singularity/releases/tag/v3.3.0-rc.1

Thanks @godloved !

[2019-06-21 18:09] vsoch commented on #11
Fixed with #12

[2019-06-21 18:09] #11 closed

[2019-06-21 18:09] vsoch opened #14 "Add --remote option to build recipes"
A user (without sudo) should be able to specify `--remote` to do a remote build.

[2019-06-21 19:14] #14 closed

[2019-06-21 21:06] vsoch opened #17 "Add run command"
If I have a set of containers (maybe a web server, database, and application) I should be able to bring them up, and then run some analysis / process of interest in one of them. Akin to exec, I should be able to do:

[code]
where "analysis" is the instance that has the magic analysis in it :)

[2019-06-21 21:06] vsoch commented on #13
This is now supported by way of the options list under build. See https://github.com/singularityhub/singularity-compose-examples/tree/master/mongodb-build for complete examples and a walkthrough.

[2019-06-21 21:06] #13 closed

[2019-06-21 22:04] #17 closed

[2019-06-22 19:56] vsoch opened #19 "Need to bind resolv.conf"
It looks like there is issue with resolv.conf working, so we should bind this by default (and provide an argument to disable it, if the user needs to).

[2019-08-01 15:33] cole-brokamp opened #22 "[JOSS review] error when running singularity-compose-simple example"
Hello, I am using a docker container (ubuntu:18.04) to test the `singularity-compose-simple` example as in the Quick Start documentation.  I've installed singularity from source (version 2.5.2) and successfully installed `singularity-compose` with `pip`, but get the following error whenever I try to run any command, for example `singularity-compose build` within the `singularity-compose-simple` fo

[2019-08-01 15:35] vsoch commented on #22
There are two quick fixes here. The first is that singularity-compose won't work with python 2.x, I just can't provide support for it given end of life.

The second issue (which you haven't hit yet) is that Singularity 2.x definitely won't support instances like we need. The reason we needed to wait for the 3.x family to create this, period, is because it had very little support for networking bef

[2019-08-01 15:37] vsoch commented on #22
You also likely need to test this on a host - I haven't tried in a docker container, but given the requirements for networking, I suspect it won't work.

[2019-08-01 15:42] vsoch commented on #22
I realize this isn't in the docs clearly stated! Just added here https://singularityhub.github.io/singularity-compose/#/?id=dependencies (open devtools to clear cache if you don't see it yet).

[2019-08-01 15:50] cole-brokamp commented on #22
Perfect, you beat me to my own suggestion! This is super helpful for a beginner with this type of setup for me.  (I usually rely on our HPC version of Singularity, which they haven't yet upgraded to 3.0).

[2019-08-01 16:06] cole-brokamp commented on #22
I think you are right about not working in a docker container, I'm getting an `ERROR: Failed to unshare root file system: Operation not permitted`, which I'm pretty sure would have to do with how Docker manages that.  I will try on a host this evening. Thanks for the help!

[2019-08-01 16:11] vsoch commented on #22
I haven't tried it, but you would need to set privileged to true, and then bind the docker daemon, as is done with docker2singularity - [see the docker run example here](https://github.com/singularityware/docker2singularity#build-a-squashfs-image). I highly *don't* recommend this - it's masterfully messed up my computer when I've tried in random cases.

[2019-08-01 16:15] cole-brokamp commented on #22
Going to stay away from that, then!  I found out that our HPC recently had singularity 3.0 installed.  So I'm giving it a go from there right now.  Do I need to be a sudoer to run `singularity-compose build`?  Its complaining to me that there is an issue building the container.

[2019-08-01 16:19] vsoch commented on #22
okay - but if it's 3.0 exactly that's too early for a fully working example - likely a single container example will work, but not if they need to talk to one another. The same rules are true for Singularity - you can't build without sudo on a shared resource. You can try adding the fakeroot option to the file, but that's only available with 3.3.0 and later. So - I think you will need to test this

[2019-08-01 16:29] cole-brokamp commented on #22
OK, thanks.  They are on 3.1. I'll try at home this evening.

[2019-08-02 01:11] cole-brokamp commented on #22
all good with Singularity 3.3.0

[2019-08-02 01:11] #22 closed

[2019-09-18 21:06] legraina opened #24 "Always need root status"
Hi, I was wondering if it's normal that the root privileges are needed for most commands.
If it's the case, I think you should update the documentation to make it clear.
Thanks

[2019-09-18 21:42] vsoch commented on #24
The constraint is what Singularity is able to do - I can’t do magic and remove the root requirement from where it’s needed. Anything with a port requires root - the most you could try is to add fakeroot to the build options.

[2019-09-18 21:44] legraina commented on #24
Thank you. I've indeed seen that singularity needs root for the networking options.

[2019-09-18 21:44] #24 closed

[2019-09-18 23:07] vsoch commented on #24
hey @legraina I completely agree that it's not well documented when root/sudo is needed, and how you can get around it with fakeroot! I added a section front and center here -> https://singularityhub.github.io/singularity-compose/#/?id=when-do-i-need-sudo

Make sure to clear your cache so you can see it, just pushed! Thanks for bringing this up!

[2020-02-05 14:19] pierlauro opened #25 "Support environment variables"
Hi,
is there any plan to support the definition of environment variables in the singularity-compose file? E.g. as in [docker-compose](https://docs.docker.com/compose/environment-variables/)

[2020-02-05 14:57] vsoch commented on #25
Great idea! It totally depends on instance support for external envars... let me do some testing today and I’ll get back to you.

[2020-02-05 15:10] pierlauro commented on #25
Docker-compose allows to specify environment variables directly in the configuration file (`environment` section) or to retrieve them from an external file (`env_file` section).

After asking, I actually succeeded to reproduce the `env_file` behavior with a simple workaround: mounting an external file in `/.singularity.d/env/env_file.sh` . It is obviously a temporary solution, but maybe for the de

[2020-02-05 16:25] vsoch commented on #25
Yes, I've used docker-compose easily 100 times... I'm well aware!

Binding to the container would be a supported solution for the current singularity-compose, however what I'm thinking about are all of the various build options https://sylabs.io/guides/3.5/user-guide/appendix.html that you might want at build and then runtime. I don't know if I'll have time for this today, but it's on my radar, an

[2020-02-05 22:15] vsoch commented on #25
hey @pierlauro  - I gave this some more thought, and if a custom environment can by added simply by mounting the file, this is a simple solution that I see in favor of adding the section to the recipe file. Please take a look at the environment section I wrote in the docs here:

https://singularityhub.github.io/singularity-compose/#/spec/spec-1.0?id=environment

And if this meets your need and loo

[2020-02-06 10:24] pierlauro commented on #25
Good to have it documented so it can help other users. I guess we can close as this is a viable solution, thanks!

[2020-02-06 10:24] #25 closed

[2020-02-06 13:13] pierlauro opened #26 "Unreachable hosts"
Hi,
when using `singularity-compose`, the local hostname is overridden and to each containers is assigned a different local ip address. E.g.: on a machine with hostname `localhost` and address `10.1.2.345`, singularity runs a container **xyz** with local ip  `10.0.0.1` and hostname **xyz** .

When executing applications using sockets in containers, however, I noticed it is impossible to reach the

[2020-02-06 13:24] vsoch commented on #26
This is unfortunately likely an issue with Singularity - there was a lot of trouble with this first issue when I was developing this library. Could you please provide a dummy case to reproduce your issue? I can try it and if it works for me you’ll need to take this up with Singularity developers.

[2020-02-06 13:29] pierlauro commented on #26
I could isolate the problem while using some complex containers, give me some time to write down a more simple example.

[2020-02-06 13:31] vsoch commented on #26
Ah found it! This issue has the commands that were useful to debugging core instances: https://github.com/sylabs/singularity/issues/3766

[2020-02-06 13:41] pierlauro commented on #26
Having the same issue! If I start one alpine container with `--network-args`, then its ip is unreachable (even from within the container itself). If I start the container without network options, I am able to ping it from outside. [Obviously I deactivated ICMP on my local machine to test the container one].

Given the issue, would it be possible to configure `singularity-compose` in order to don't

[2020-02-06 14:46] pierlauro commented on #26
By enabling the debug flag (`singularity-compose -d up`), I can see that the command executed to start a container named **xyz** is:

[code]

Trying manually directly with singularity, if the command is executed without `--hostname xyz` everything is working because the network is not virtualized. It definitely seems that `--network none` is ignored if a `hostname` is speficied.

[2020-02-06 15:43] pierlauro commented on #26
Solved: #27

[2020-02-06 16:41] #19 closed

[2020-02-06 16:41] vsoch opened #28 "Add black formatting"

[2020-02-06 17:33] vsoch commented on #28
Closed with #29

[2020-02-06 17:33] #28 closed

[2020-02-06 17:34] vsoch commented on #26
Fixed by #27, thanks again @pierlauro !

[2020-02-06 17:34] #26 closed

[2020-04-09 02:43] vsoch opened #35 "Consider compose standard"
I’m not sure if there is any action to take, but Docker compose standardized the compose spec: https://github.com/compose-spec/compose-spec

[2020-04-22 17:15] vsoch commented on #35
See discussion here https://github.com/compose-spec/compose-spec/issues/64#issuecomment-617754888. We would allow for mapping of instances -> services, and recipe -> dockerfile, and possibly doing a conversion.

[2020-06-09 20:03] biocyberman commented on #25
Haven't checked where it happens the same with docker-compose, nonetheless it should be mentioned that all environment variables are visible inside the container. So anyone with access to the shell of the container will be able to see them. So sensitive data like plaintext PASSWORDs are visible.

[2020-06-09 20:17] vsoch commented on #25
This is sort of standard / expected with Singularity, the environment between host and container is seamless. Would you like to add a note to the docs (for those not familiar with Singularity) to remember that the environment is shared with the host, and if they want complete isolation, to add an argument to clean the environment?

[2020-06-09 20:26] vsoch commented on #25
Hmm just thinking - the other option would be to enforce `--clean-env` always, which is more along the lines of docker-compose. What do you think @biocyberman and @pierlauro ?

[2020-06-09 20:30] vsoch commented on #25
@biocyberman I'm doing some testing, start will accept --cleanenv but it doesn't really honor it, for example, I have an `RSE_*` set of variables on my host:

[code]
It's on the level of the instance interaction that you need to use `--cleanenv`:

[code]
So I think if you are looking to deploy an application and let someone access, if they have access to the host then they would already have acces

[2020-06-09 20:41] vsoch commented on #25
@biocyberman this might be a silly question, but if someone has access to shell into the container, and the envars are from the host, wouldn't they already see those envars / secrets? It would be up to the user running `shell` to also add `--cleanenv`.

[2020-06-09 20:43] pierlauro commented on #25
I think a `--clean-env` flag would be more than appreciated to differenciate host and container variables! The tricky part is deciding whether or not setting it as default; maybe no, since docker users are the ones expecting a clean environment while singularity has explicitly the opposite behaviour

[2020-06-09 20:46] vsoch commented on #25
@pierlauro I thought so too, but it seems that start doesn’t honor it (or perhaps the start script does so the service container is clean, that is, until someone shells or execs and brings their environment?

[2020-06-09 21:00] biocyberman commented on #25
@vsoch Wow, thanks for the energy :) Let me give you the context:

I am writing singularity compose with `mariadb` and some other tools for COVID1 (anyone?). It's half working: build successfully, setup database manually, compose `up` and `down` successfully, and and login to the database. The work is based on [sylabs example](https://github.com/sylabs/examples/tree/master/database/mariadb).

In t

[2020-06-09 21:11] vsoch commented on #25
@biocyberman if you need the password to start the database, I'm not sure how you expect it to not be present in the container. I think moreso what you need is some client to it (separate from the database that starts) that doesn't have the environment variables added, but allows for some (no auth needed) interaction? If you can better explain how you would intend to start a container and use a pa

[2020-10-06 23:20] vsoch opened #37 "Instance control broken with 3.6.0"
I'm not sure when this happened, but instance control with singularity-compose seems broken with 3.6.0 - likely Sylabs changed their API and didn't post an issue here. Since it still works fine for older versions of singularity I'm going to leave as is for now, and can address if anyone actually uses this tool and requests the change.

[2021-02-20 02:46] briveramelo opened #38 "sudo used when ports are set, causes failure. Cannot set instance start options to set fakeroot network"
# Context:
I run a web service that uses 4 docker containers with Gitlab CI/CD, and I'm porting this setup to an HPC environment with singulairty. I am collaborating with my HPC server admin to enable inter-container communication with singularity without using root permissions and instead using fakeroot. Pending their response, we'll be modifying the .../singularity/network/40_fakeroot.conflist f

[2021-02-20 02:53] vsoch commented on #38
We could probably tackle some of these. Can you:

- provide a dummy example for one of your containers you want to bring up
- Show me the command line example to set up networking that works without needing sudo
- What do you mean environment variables are rejected? Can you show me?

I think the easiest thing to do would be for us to work on this together, if you can put what you have so far in a

[2021-02-22 18:53] briveramelo commented on #38
That's great to hear, I'm excited to help. I can do these things, but before we do I want to confirm this inter-container communication is really quite as viable as I think. I'll know when I hear back from the admin, so should be within the next couple days

[2021-02-24 02:10] briveramelo commented on #38
Good news: the admin agreed to try the change and it worked. My singularity containers can now communicate on the fakeroot network.

One of my containers uses environment variables with periods `my.var=val`, so if this line exists in a .env file I pass with the `--env-file` option to run or exec, I get the following error
[code]
So my current workaround is to put all these odd variables in a space

[2021-02-24 02:57] vsoch commented on #38
Thank you @briveramelo ! I'll be able to take a look this weekend, since it's an outside work project.

[2021-02-24 03:31] briveramelo commented on #38
@vsoch wonderful, thank you.

As for a dummy example, I found this to be a lean test

[code]

A successful output from the last command will look like this
[code]
while a failure might look like
[code]

[2021-02-25 17:19] arthurfeeney opened #39 "Networking flags not added when running with sudo"
Hello, I have realized that when I try to run singularity-compose, it does not use singularity's --net options. This happened with or without sudo.
my setup works if I use a shell script to start each of the instances and manually include the ``--net`` flags.

For instance, if I run ``singularity-compose --log-level DEBUG up`` (I would usually have to put in my password), the logs show that it is

[2021-02-25 18:18] vsoch commented on #39
This must be a bug, and thank you for pointing this out! Would you care to open a PR to fix it, as you've found?

[2021-02-25 18:18] vsoch commented on #39
@pierlauro could you please take a look?

[2021-02-25 18:37] pierlauro commented on #39
There should be no side effect with removing that sudo check. I recall it was not possible for non-sudoers to use bridged networking some time ago, so it was kind of a "sanity check": don't create hosts **since you can't use them**. As now that seems to be possible from @arthurfeeney's message, that check can go away :)

[2021-02-25 18:42] vsoch commented on #39
Great! @arthurfeeney would you care to open a PR to remove the check?

[2021-02-25 19:31] vsoch commented on #39
Closed by #40

[2021-02-25 19:31] #39 closed

[2021-02-28 00:46] vsoch commented on #38
@briveramelo you mentioned wanted to add an entry to the config for network options (or start options) - can you give me an example of what you had in mind? The example provided above only has `--net` - are you saying that given that the user defines custom network args, we forgo the default and use them instead? And then where does fakeroot come in for this step to start the instances? It might h

[2021-02-28 02:18] briveramelo commented on #38
Thank you again for revisiting this. I think this will be an awesome feature.

The `-f` option is equivalent to `--fakeroot`, so for the dummy example above, fakeroot comes in on the same line that starts the instances
[code]

Yes, I think it's a fair assumption that any specifically defined network options would be used instead of the defaults.

I didn't consider the dummy setup for capturing all

[2021-02-28 18:57] vsoch commented on #38
hey @briveramelo ! Okay I have something for you to test. To start, I have a PR that will reorganize the singularity-compose-examples folder to include examples for the spec v1.0, and now v2.0 (what we've worked on here). You can find that ping example here: https://github.com/singularityhub/singularity-compose-examples/pull/4/files#diff-70a0c5dcf3d1984dde44c1e48e3ceee2338fe47624fd784565ece7375adc

[2021-02-28 21:15] briveramelo commented on #38
This is awesome, I'm excited to try it out!

I might not get to it today, but I'll test as soon as I get a chance.

I think your assessment about hostname mapping makes sense. It seems like a reasonable default to include any container using ports or an explicit `--net` option along with sudo or fakeroot. I also don't see a need for adding the mapping with just a single container, so that makes se

[2021-02-28 21:53] vsoch commented on #38
These are good suggestions! Here are what I think we should do to address them:

I thought about it, and I think it's fairly reasonable to either provide `--net` or  `--net --network none` without sudo or fakeroot. The other use case, not wanting a `--net` at all, I don't think a user would need to use singularity-compose - it's fairly easy to execute a singularity command for that. Singularity co

[2021-02-28 22:20] vsoch commented on #38
okay, I added support for run to the PR! And no worries about taking some time to review - I'll only be able to work on the weekends so it would be another week anyhoo.

[2021-02-28 22:20] vsoch commented on #37
Just tested with 3.6.x and it seems to work ok - going to close.

[2021-02-28 22:20] #37 closed

[2021-02-28 22:21] vsoch commented on #35
I think singularity is different enough from docker that it doesn't hurt to not share a standard. It's more meaningful to the user to use singularity-relevant terms (like run, exec, etc.) over trying to conform to docker terms just for the sake of it.

[2021-02-28 22:21] #35 closed

[2021-02-28 22:23] briveramelo commented on #38
This is great! I think everything you've said and added here makes sense.

I'll definitely take a closer look soon

[2021-03-03 12:58] maawoo opened #42 "requested IP address is not available"
Hi there!
Currently I run into the following error every time I use `singularity-compose up`, even with any of the [singularity-compose-examples](https://github.com/singularityhub/singularity-compose-examples). I probably broke something myself, but can't figure out what exactly. Any advice?

[code]

[2021-03-03 13:04] vsoch commented on #42
That range is the singularity default network, so if you don't have other instances running, you likely don't have network control. I would open an issue on https://github.com/hpcng/singularity and ask about reasons for this particular error, and if you can pin down the issue we can try to change in Singularity Compose here. But if you don't have any access to networking it likely won't work. So I

[2021-03-03 14:40] maawoo commented on #42
Hi Vanessa,
thanks for your super quick answer! :)

I was able to figure out what I did wrong and how to fix the resulting problem after finding these two issues:
https://github.com/containers/podman/issues/3759 and https://github.com/cloudnativelabs/kube-router/issues/383

What I did wrong:
- I deleted all files related to a test-project without properly using `singularity-compose down` first.

H

[2021-03-03 17:51] vsoch commented on #42
Haha, I've done that a few times with docker-compose and singularity-compose! delete and then "oops, the containers are still running!" and then you have to re-create them to get a handle on them again. I've never deleted files in the bridge direction before, and that would definitely lead to an issue because the port range wouldn't be defined in some configuration. I'm glad that you figured it ou

[2021-03-03 17:51] #42 closed

[2021-03-06 02:57] briveramelo commented on #38
I did a git clone, checked out this new branch, uninstalled singularity-compose, reinstalled this new local copy, got some things working, but I ran into a few issues.

Start options appear to work fine, Exec appears to work fine, but using run doesn't seem to work

In the yaml, `run: []`,  `run: options: - anyArgs`, `run: options: - anyArgs command: []`, and `run: options: - anyArgs command: - an

[2021-03-06 03:10] briveramelo commented on #38
With this yaml, things work pretty well.

scomp.yml
[code]

`singularity-compose --debug -f scomp.yml up` will echo and ping with all options passed as expected

This is more nuanced, and certainly less of a big deal, but triggering these containers in sequence will fail with an IP address collision

[code]

[2021-03-06 03:14] vsoch commented on #38
If you want to insert an IPython, and IPython.embed and can trace what the issue is with the args that would be very helpful!

[2021-03-06 03:19] briveramelo commented on #38
Can you clarify? I'm relatively new to the python ecosystem.

The same issue can be replicated with this call and yaml

`singularity-compose --debug -f scomp.yml up`
[code]

[2021-03-06 03:22] vsoch commented on #38
The way I like to debug is to find where in the code that the issue is being raised (in the example of run it would likely be in https://github.com/singularityhub/singularity-compose/blob/add/spec-version-2.0/scompose/project/project.py and https://github.com/singularityhub/singularity-compose/blob/add/spec-version-2.0/scompose/project/instance.py. Write the following anywhere that you want to deb

[2021-03-06 03:23] vsoch commented on #38
And you can clone and install in development mode (meaning form the local folder) like:

[code]
That way you can easily edit / change the files as you explore.

[2021-03-06 03:25] briveramelo commented on #38
Great, thank you. My weekends are usually pretty packed, but I'll see if I can pinpoint a line of code all the same

[2021-03-06 03:57] vsoch commented on #38
Great! And if not I can usually put in some time during a normal weekend. This weekend I just happen to have a few large chunks of work I want to do (and am pretty excited about!)

[2021-03-06 04:14] briveramelo commented on #38
re: IP collision
[https://github.com/singularityhub/singularity-compose/blob/65117a2ed8efab5c76ea1d36e70a7cd80b20f899/scompose/project/project.py#L216](url)
This for loop should check if the next IP is already claimed by some previously started container, and if so skip on to the next IP. Not sure how the singularity-compose project api might allow you to query such a thing, but this variation of

[2021-03-06 04:38] briveramelo commented on #38
Looks like a copy/paste error

[https://github.com/singularityhub/singularity-compose/blob/65117a2ed8efab5c76ea1d36e70a7cd80b20f899/scompose/project/instance.py#L590](url)
Should say
`args=self.run_args` instead of `args=self.exec_args`

And similarly, this comment should say `run` instead of `exec`
[https://github.com/singularityhub/singularity-compose/blob/65117a2ed8efab5c76ea1d36e70a7cd80b20f89

[2021-03-06 20:00] vsoch commented on #38
hey @briveramelo !

Whoo! So I wound up saying "Wow, those are just a few quick fixes, and I got up early - I can do that!" and then I went down a huge rabbit hole, because turns out I needed to update singularity Python to support instance list with --json, then the CI broke and I had to refactor, then I had to update the code here to be more flexible about instance list arguments, and finally I

[2021-03-06 20:42] briveramelo commented on #38
Haha, oh my gosh! That's true dedication.

I'll honor those 5 hours and give this a good look through 😀

[2021-03-06 23:36] briveramelo commented on #38
I know you've already over-invested on this for the weekend, so no pressure on this.

I can see that the IP collisions are fixed, but now there's an issue with the generated etc.hosts ignoring previous container IP/hostname mappings with sequential calls `singularity-compose up <container>`
[https://github.com/singularityhub/singularity-compose/blob/f8897e107ab7cbba3c6656486a132aeb0699ad35/scompos

[2021-03-07 00:25] briveramelo commented on #38
Another show-stopper:

Each container's exec/run commands often continue indefinitely, and the current setup gets stuck on any container that does that and prevents subsequent containers from starting
[https://github.com/singularityhub/singularity-compose/blob/87f6288862defd3fd4c76d1faf9cf030caee4d30/scompose/project/project.py#L458-L478](https://github.com/singularityhub/singularity-compose/blob/

[2021-03-07 00:39] vsoch commented on #38
Wouldn't this file be re-written so it wouldn't matter? Why would we want the previous mappings?

[2021-03-07 00:40] vsoch commented on #38
Containers that are defined in the singularity-compose.yml are the only ones that should be there. If a service /instance is not defined there, it shouldn't arbitrarily be added to the mapping.

[2021-03-07 00:44] vsoch commented on #38
I'm not sure it would work to launch a subprocess - it would just be killed when execution ends. For now I think this is the responsibility of the user. If they have an exec or run in the singularity-compose.yml, it's up to them to ensure that it doesn't continue forever. If they need to run a command that's outside of that scope, then they need to use the recipe post section to do it.

And could

[2021-03-11 07:18] briveramelo commented on #38
Totally agree, it was getting tough for me too. I moved all the unaddressed comments to the PR at their relevant files/lines. I'm new to open-source dev workflows like this, so thank you for your patience as I get acquainted and sorry for creating some frustration.

[2021-03-11 11:11] vsoch commented on #38
You’re doing a great job! It’s no worries 😊 👏

[2021-03-25 07:39] briveramelo opened #43 "No way to run persistent containers"
Continuing from the recent addition to support run, exec, network options [https://github.com/singularityhub/singularity-compose/issues/38#issuecomment-796659715](https://github.com/singularityhub/singularity-compose/issues/38#issuecomment-796659715), I ran into an issue with running persistent containers.

I am running web service containers, so I have a database container and a web server contai

[2021-03-25 07:42] vsoch commented on #43
For the order, you can try depends_on: https://github.com/singularityhub/singularity-compose/blob/f8897e107ab7cbba3c6656486a132aeb0699ad35/scompose/tests/configs/depends_on/singularity-compose.yml

[2021-03-25 07:44] briveramelo commented on #38
This issue is resolved with the recent PR: [https://github.com/singularityhub/singularity-compose/pull/41](https://github.com/singularityhub/singularity-compose/pull/41)

Just opened a new issue for the persistent containers blocking subsequent containers: [https://github.com/singularityhub/singularity-compose/issues/43](https://github.com/singularityhub/singularity-compose/issues/43)

[2021-03-25 07:44] #38 closed

[2021-03-25 07:45] vsoch commented on #43
@briveramelo for the background issue, I would approach the singularity community or sylabs and ask how it could be done. If there is a way, we can then implement it here.

[2021-03-25 07:53] briveramelo commented on #43
Yes, I am familiar with this. I neglected it in this example, but this is not an issue for me.

I did some investigation, and all the examples suggest this redirection method I mentioned above. I'll still ask around if there are alternate methods that might integrate more closely with the singularity cli and report back here

[2021-03-28 00:17] briveramelo commented on #43
I tried a suggestion to add the persistent command to the start args. Apparently this runs to the background by default: [https://github.com/hpcng/singularity/issues/5891#issuecomment-806934104](https://github.com/hpcng/singularity/issues/5891#issuecomment-806934104)

However, this does not appear to be working with singularity compose. I've tried a few different things to test if the start args a

[2021-03-28 00:21] briveramelo commented on #43
This should be a sufficient yaml example to test that the start args are called:

singularity-compose.yml
[code]

And if it works, you should see file1.txt printed out in the list when running
`singularity-compose up`

[2021-03-28 00:44] vsoch commented on #43
Creating the instance has start set to True by default:

https://github.com/singularityhub/singularity-cli/blob/d17ed1e1523b25824261d0aef3de9edb763f0803/spython/instance/__init__.py#L34

So did you add a print to the singularity python start and confirm they are not there?

https://github.com/singularityhub/singularity-cli/blob/master/spython/instance/cmd/start.py

It looks like we don't have the

[2021-03-28 00:46] vsoch commented on #43
I'm not able to get the current singularity-compose master working, I am getting this weird error:

[code]
It's working for you?

[2021-03-28 00:47] vsoch commented on #43
When I remove the options it's ok.

[2021-03-28 00:48] vsoch commented on #43
Oh I see, it was the w for "writable" - my image was not writable.

[2021-03-28 00:57] vsoch commented on #43
Okay - here is the full command that it's running.

[code]
When I run that command verbatim with just singularity, I don't see the file generated just with singularity. So I don't think this is an issue with Singularity compose? Is that the correct way to supply start args?

[2021-03-28 01:00] vsoch commented on #43
Here is the PR to singularity-cli if you want to test your commands generated - https://github.com/singularityhub/singularity-cli/pull/175. And then change that line to create the instance to:

[code]
and the command should print.

[2021-03-28 01:01] vsoch commented on #43
Also, it's been a while, but I think for start args to be passed you have to have a `%startscript` defined? At least that's how it was originally.

[2021-03-28 02:24] vsoch commented on #43
okay, so here is a working example: https://github.com/singularityhub/singularity-compose-examples/tree/master/v2.0/start-args.

The two issues were that:

1. a container needs a startscript to honor any start args. You might have had one, but since I didn't have your image at first I didn't know to reproduce it.
2. If you want the file to show up, you need to bind something to the present working

[2021-03-28 19:49] briveramelo commented on #43
So for .sif containers that are built from docker images, I believe the startscript is always defined like this:
`"startscript": "#!/bin/sh"`

And that seems to be the case with all the containers I've built, which I have verified for the alpine image I've been referencing in this thread.

Is that not sufficient?

As for showing the commands, this has also not been an issue for me. On the current

[2021-03-28 20:01] vsoch commented on #43
`self.client.instance` is creating a new instance, it's called [here](https://github.com/singularityhub/singularity-cli/blob/d17ed1e1523b25824261d0aef3de9edb763f0803/spython/instance/__init__.py#L13) and it also calls start by default. It is not bypassing the start args - I tested the example that you provided me, and as I mentioned you need to bind the PWD to somewhere on your host to see the fil

[2021-04-01 22:39] briveramelo commented on #43
That did it!

It is a bit odd to me that singularity defaults the translation from docker entrypoint to the singularity run command instead of the singularity start.

I didn't need to do any binding btw; it worked fine for me with a writable container.

Because I don't have a singularity definition file and my images start as dockerfiles, I think the best approach for me now is to modify my build

[2021-04-01 22:39] #43 closed

[2021-05-17 15:13] pwalsh0 opened #44 "support for boot option"
I'm trying to run systemd containers (yuck I know). They need to be started with the --boot option, which needs sudo.

Singularity compose doesn't seem to support this option, so I have to fall back to running singularity commands manually.

I searched the codebase and docs for this option but no sign of it. Can we have it in future version please?

[2021-05-17 15:16] vsoch commented on #44
You cant add that to the list of start options? See the example here: https://singularityhub.github.io/singularity-compose/#/spec/spec-2.0

[2021-05-27 08:40] pwalsh0 commented on #44
I tried lots of ways and it didn't seem to pass it at all.

[2021-05-27 12:51] vsoch commented on #44
Ah sorry to hear that! What I would do first is engage with folks on the SingularityCE / Sylabs slack and try to figure out of what you want to do is possible regardless of Singularity Compose. Once you have that, if you want to come back here and share this with me I can better take a shot at putting together a compose recipe.

[2021-10-06 05:02] PauloMigAlmeida opened #50 "Singularity-compose named volumes"
something that it would be nice for us to start thinking before writing any code... another thing I would love to have on singularity-compose is to be able to create volumes and reference them by name rather than path.

Usually docker create these persistent volumes under `$HOME/.docker`  and I was thinking about using a path along the same train of thought.

I cannot count how many times I've (ac

[2021-10-06 05:14] vsoch commented on #50
hmm so would this be more appropriate to have alongside singularity? E.g., binding a named volume for singularity would need to work, and then scompose here just uses that.

[2021-10-06 22:34] PauloMigAlmeida commented on #50
That's a fair point.

(Disclaimer: Utter speculation from my part).
For some reason I have this gut feeling that, given that they provide Binds paths and Mounts, they understand that whatever decision on how and where to manage folders outside of the singularity container should be pushed to a higher layer of management as they have already provided the means. That's where I thought singularity-co

[2021-10-06 22:39] vsoch commented on #50
Also note you have two options for places to ask - as there are two versions of Singularity now!

 - https://github.com/sylabs/singularity
 - https://github.com/hpcng/singularity

Would be interesting to see answers from both sides!

[2022-03-29 08:12] Trophime opened #57 "missing version 2.0 example in the doc"
Hi @vsoch ,
in the docs the version 2.0 example i s missing.
See the doc after: 'here is a version 2.0 spec that shows adding networking and exec options'.

Best
C

[2022-03-29 09:28] vsoch commented on #57
Fixed! It looks like I put the full example here https://singularityhub.github.io/singularity-compose/#/spec/spec-2.0?id=singularity-compose-version-20 so I must have forgotten it on the main page. Thanks for the pointer!

[2022-03-29 09:28] #57 closed

[2022-07-27 17:17] jadraketx opened #58 "Runscript as background process"
singularity-compose has been a great resource, thanks! I'm trying to launch 9 containers pulled from Docker images on an HPC system. Container 1 (server) needs to launch first, then Container 2, and then Containers 3-9 (no order). As these are docker images, there is no startscript so I need to run each containers runscript (i.e. docker entrypoint).  In the singularity-compose.yaml config, I have

[2022-07-27 17:19] vsoch commented on #58
Oh interesting! I don't see why not. Do you have a dummy case we could add to https://github.com/singularityhub/singularity-compose-examples for me to develop with (and reproduce your error) and be able to provide the example for future users?

[2022-07-27 19:54] jadraketx commented on #58
A simple example would be launching a docker container that runs a jupyter notebook/server.

[code]
To launch the server, the runscript must be executed. Any other instances included after "jupyter" in the config file won't be launched. I think a workaround would be to create a definition file that bootstraps from this image and then add a startscript that runs the same command as the docker entry

[2022-07-27 20:16] vsoch commented on #58
If you are interested, this is pretty early in development but I'm making a framework called "tunel" (elegant form of tunnel) that already has support for notebooks / jupyterlab:

- https://vsoch.github.io/tunel
- https://vsoch.github.io/tunel/_static/apps/

I'm in the process of designing underlying templates so developers can make custom apps. It's a personal project so it's not moving as quick

[2022-07-27 20:34] vsoch commented on #58
Does this run on a port? Which one?

[2022-07-27 21:06] jadraketx commented on #58
It runs on localhost:8888

[2022-07-27 23:12] vsoch commented on #58
okay so this works for me:

[code]
You are saying we should add another container before or after? Could you provide an example of that?

[2022-07-28 00:29] vsoch commented on #58
okay I've made progress! I added a second instance, and I'm testing this run command:

[code]
That doesn't seem to send it to the background. I'm guessing the best way is to start a separate process in Python and then have it run that - I'll try that next.

[2022-07-28 00:55] vsoch commented on #58
okay so I have it reproduced - we just now need a way to run in the background! Let me know if you have any ideas (just doing Popen without communicate did not work, the notebook doesn't appear to be running). I think perhaps there should be a jupyter start command that does something like detached or headless? It really shouldn't be on scompose to do that.

[2022-07-28 03:27] vsoch commented on #58
okay! I have a PR for you to test: https://github.com/singularityhub/singularity-compose/pull/59

[2022-07-28 18:13] #58 closed

[2022-08-22 16:37] scicco opened #60 "wrong --net settings and cni subnet config ignored"
Hello,

I'm having trouble with IP lease.

Here are the relevant configuration files:

`whoami`
[code]

`cat /etc/issue`
[code]

`$> singularity-compose -v`
[code]

`$> cat /usr/local/etc/singularity/singularity.conf | grep "allow net"`
[code]

`$> cat /usr/local/etc/singularity/network/00_bridge.conflist` (the same IP range for `/usr/local/etc/singularity/network/40_fakeroot.conflist`)
[code]

[c

[2022-08-22 16:41] vsoch commented on #60
We probably need to add support to be able to detect that if singularity doesn’t do it. And you’ve tried with sudo?

I’m not super experienced with custom networking - @pierlauro @PauloMigAlmeida do you have any insights?

[2022-08-22 23:20] PauloMigAlmeida commented on #60
I agree with @vsoch, we need to add support for other variations of network configs if we cover these use cases.

@scicco One workaround I had to recently do that and I believe it might work for you too (remains to be seen) is to "disable the network" on singularity-compose so it doesn't try add the `--net ***` params and potentially singularity can pick up the hosting OS network configs (assuming

[2022-08-22 23:22] vsoch commented on #60
Thank you @PauloMigAlmeida ! And if there is something extra we can do to make this easier, let's chat about that too.

[2022-08-23 07:44] scicco commented on #60
I've tried with sudo, unfortunately I got the same result

[2022-08-23 10:28] vsoch commented on #60
okay, perhaps try the workaround suggested by @PauloMigAlmeida then?

[2022-08-23 12:32] scicco commented on #60
It does not work either, here is the step done:

`$> cat singularity-compose.yml`

[code]

[code]

[code]

[2022-08-23 12:33] scicco commented on #60
What I'm trying to achieve with singularity-compose is the same as the following script steps:

$> cat singularity-compose.yml

[code]

[code]

I also needed to add the following static cni config file:

`$> cat /usr/local/etc/singularity/network/50_static-redis.conflist`

[code]

if I run all commands I got this result:

`$> singularity instance list`

[code]

[2022-08-23 14:38] scicco commented on #60
I've created a test [repo](https://github.com/scicco/singularity-compose-test) to simplify debug process. Hope this helps to clarify better my issue

[2022-08-23 16:47] vsoch commented on #60
This is perfect! I'll make some time soon to work on this for you, stay tuned!

[2022-08-23 17:31] vsoch commented on #60
@scicco how does the above work for you without any sudo? It simply does not work for me without sudo - if you add fakeroot, fakeroot isn't allowed to use the custom bridge.

[2022-08-24 06:55] scicco commented on #60
I'm avoiding the usage of fakeroot and I'm using root user to avoid any permission related issue. If you check inside files of my [test repo](https://github.com/scicco/singularity-compose-test) you should not see any usage of fakeroot. Anyway to use a network I think you have to add it inside singularity.conf. In the test repo I'm using static-redis.conf and I'm launching it with root.

Anyway the

[2022-08-24 07:12] vsoch commented on #60
Ok gotcha. Since most users don’t by default run as root I’ll modify your example files to have it. I’ll have more time to look at this again tomorrow evening.

[2022-08-24 18:09] vsoch commented on #60
Gotcha - I think I should be able to finish this up and do a PR tonight.  Stay tuned!

[2022-08-25 00:58] vsoch commented on #60
See #61

[2022-08-25 08:45] scicco commented on #60
I think #61 will address only the use case of a `singularity-compose.yml` config file containing `network.args`.
If the config doesn't use it it still fails.

It should be useful to support [--network](https://docs.sylabs.io/guides/latest/user-guide/networking.html#network) options so that it's possible to use a command like:

`singularity instance start --hostname redis --writable-tmpfs --net --n

[2022-08-25 10:54] vsoch commented on #60
Ahh I think I follow - so the example would have `type: 50_static-redis` to correspond to the prefix (without extension) of the CNI config?

[2022-08-25 11:50] scicco commented on #60
it should match the [name](https://github.com/singularityhub/singularity-compose-examples/blob/master/v2.0/custom-network/50_static.conflist#L3) property so in this case would be static-redis

[2022-08-25 13:10] scicco commented on #60
I've added a PR (#62) to try to address the --network "custom" type

[2022-08-25 16:41] vsoch commented on #60
Is there some additional plugin I need for singularity?
[code]
The way I did it works, this one does not.

[2022-08-26 07:02] scicco commented on #60
That IP is probably leased by cni configuration when unchanged, so in this case:
/usr/local/etc/singularity/network/00_bridge.conflist if you are using bridge (no fakeroot)
or /usr/local/etc/singularity/network/40_fakeroot.configlist are specifying `plugins.ipam.subnet` property, which probably should be changed in 192.168.20.0/24 (as my example) or another private subnet that is valid

10.22.0.x

[2022-08-26 07:03] vsoch commented on #60
I think I just need a full example that reproduces what you have, if that might be possible!

[2022-08-26 07:06] scicco commented on #60
Ok, sure. Can you run singularity-compose without fakeroot options and use root?

[2022-08-26 07:07] vsoch commented on #60
Yep! If you go to the examples I linked in the PR the README instructions and scripts are exactly what I was running.

[2022-08-26 07:33] scicco commented on #60
I've run your codebase version: https://github.com/singularityhub/singularity-compose/tree/e301c950c177ca6201769cce8d85243ce9158879

as root user:

[code]
It works, but it's not using /usr/local/etc/singularity/network/00_bridge.conflist setup `plugins.ipam.subnet` parameter: its using 10.22.0.2 instead of 192.168.20.0/24 (but let's skip this problem for another time)

with my repo commit: https:/

[2022-08-26 08:05] scicco commented on #60
I've updated #62, adding a link to example repo with updated files for custom network

[2022-08-26 17:41] vsoch commented on #60
@scicco I still get the same error about the port mapping - when you mention:

/usr/local/etc/singularity/network/00_bridge.conflist if you are using bridge (no fakeroot)
or /usr/local/etc/singularity/network/40_fakeroot.configlist are specifying plugins.ipam.subnet property, which probably should be changed in 192.168.20.0/24 (as my example) or another private subnet that is valid

This needs to

[2022-08-29 17:55] vsoch commented on #60
Could you show me the underlying command being run (e.g., add `--debug` to singularity-compose)?

[2022-08-31 12:18] scicco commented on #60
@vsoch sure. I've fixed and renamed the custom configuration because it was wrong.

`$> cat /usr/local/etc/network/50_redis.conflist`
[code]

`$> cat cat /usr/local/etc/network/00_bridge.conflist`
[code]

`$> cat singularity-compose.yml`
[code]

`singularity-compose --debug up`

[code]

`singularity-compose ps`
[code]

You can find the latest configuration files [here](https://github.com/scicco/si

[2022-08-31 13:14] vsoch commented on #60
Thank you @scicco ! I will give this another try later today. One tweak to the files above - it looks like you renamed the network to just "redis"  but the compose is looking for redis-static (I'll tweak this locally so no worries about needing to update)!

[2022-08-31 14:32] scicco commented on #60
@vsoch you're right, I fixed the reply with the proper type name. [singularity-compose.yml](https://github.com/scicco/singularity-compose-examples/blob/add/network-args/v2.0/custom-network/singularity-compose.yml) inside custom examples folder is already using `type: redis`

[2022-08-31 17:57] vsoch commented on #60
We are getting closer! Hopefully this isn't an issue with my system:

[code]